@media only screen and (min-width: 1024px) {

    body .header {
        padding: 2.5rem 3.5rem;
    }

    .header .nav-mobile {
        display: none;
    }

    .header .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .nav__logo {
        transition: all .3s;
    }

    .nav__logo:hover {
        transform: scale(1.05);
    }

    .nav .menu-content {
        flex-direction: row;
        gap: 2.5rem;
        margin: 0;
    }

    .link {
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 170%;
        letter-spacing: -0.01em;
        padding: 1rem 0;
    }

    .discord-members-list {
        width: 35%;
        margin: 0 auto;
    }

    .discord-box {
        flex-direction: column-reverse;
        background-image: url(discord-desktop.svg);
        background-position-x: center;
        background-size: auto;
        min-height: 270px;
        max-width: 100%;
    }

    .discord-cta {
        flex-direction: column-reverse;
        margin-top: 1.5rem;
        padding: 0;
    }

    .partners-section .logos-list {
        max-width: 900px;
    }
}